.desktopCalendar.dcTheme--glass.dcColoring--color1 {
    --color-dc-primary-dark3: rgb(27, 38, 49);
    --color-dc-primary-dark2: rgba(40, 55, 71, 0.9);
    --color-dc-primary-dark1: rgba(46, 64, 83, 0.9);
    --color-dc-primary: #34495E;
    --color-dc-primary-light1: rgba(93, 109, 126, 0.8);
    --color-dc-primary-light2: rgba(133, 146, 158, 0.8);
    --color-dc-primary-light3: rgba(174, 182, 191, 0.8);
    --color-dc-primary-light4: #FDFEFE;
    --color-dc-second-dark: #311B92;
    --color-dc-second: #673AB7;
    --color-dc-second-light: #B39DDB;
    --color-dc-danger-light: #FFEBEE;
    --color-dc-danger: #C62828;
    --color-dc-danger-dark: #ef5350;
    --color-dc-dark-op80: rgba(0, 0, 0, 0.8);
    --color-dc-light-op80: rgba(253, 254, 254, 0.8);
}

.desktopCalendar.dcTheme--glass.dcColoring--color2{
    --color-dc-primary-dark3: rgb(27, 38, 49);
    --color-dc-primary-dark2: rgba(40, 55, 71, 0.9);
    --color-dc-primary-dark1: rgba(46, 64, 83, 0.9);
    --color-dc-primary        : #34495E;
    --color-dc-primary-light1: rgba(93, 109, 126, 0.8);
    --color-dc-primary-light2: rgba(133, 146, 158, 0.8);
    --color-dc-primary-light3: rgba(174, 182, 191, 0.8);
    --color-dc-primary-light4 : #FDFEFE;
    --color-dc-second-dark: #00695C;
    --color-dc-second: rgba(0, 105, 92, 0.8);
    --color-dc-second-light: #4DB6AC;
    --color-dc-danger-light :  #FFEBEE;
    --color-dc-danger       :  #C62828;
    --color-dc-danger-dark  :  #ef5350;
    --color-dc-dark-op80    : rgba(0, 0, 0, 0.8);
    --color-dc-light-op80: rgba(253, 254, 254, 0.8);
}

.desktopCalendar.dcTheme--glass.dcColoring--color3{
  --color-dc-primary-dark3: #0D47A1;
  --color-dc-primary-dark2: rgba(21, 101, 192, 0.9);
  --color-dc-primary-dark1: rgba(30, 136, 229, 0.9);
  --color-dc-primary: #2196F3;
  --color-dc-primary-light1: rgba(100, 181, 246, 0.8);
  --color-dc-primary-light2: rgba(144, 202, 249, 0.8);
  --color-dc-primary-light3: rgba(227, 242, 253, 0.8);
  --color-dc-primary-light4: #FDFEFE;
  --color-dc-second-dark: #311B92;
  --color-dc-second: #673AB7;
  --color-dc-second-light: #B39DDB;
  --color-dc-danger-light: #FFEBEE;
  --color-dc-danger: #C62828;
  --color-dc-danger-dark: #ef5350;
  --color-dc-dark-op80: rgba(0, 0, 0, 0.8);
  --color-dc-light-op80: rgba(253, 254, 254, 0.8);
}

.desktopCalendar.dcTheme--glass.dcColoring--color4{
  --color-dc-primary-dark3: #4A148C;
      --color-dc-primary-dark2: rgba(106, 27, 154, 0.9);
      --color-dc-primary-dark1: rgba(142, 36, 170, 0.9);
      --color-dc-primary: #2196F3;
      --color-dc-primary-light1: rgba(100, 181, 246, 0.9);
      --color-dc-primary-light2: rgba(187, 222, 251, 0.9);
      --color-dc-primary-light3: #E3F2FD;
      --color-dc-primary-light4: #ffffff;
      --color-dc-second-dark: #1976D2;
      --color-dc-second: #2196F3;
      --color-dc-second-light: #90CAF9;
      --color-dc-danger-light: #FFEBEE;
      --color-dc-danger: #C62828;
      --color-dc-danger-dark: #ef5350;
      --color-dc-dark-op80: rgba(0, 0, 0, 0.8);
      --color-dc-light-op80: rgba(253, 254, 254, 0.8);
}



.desktopCalendar.dcTheme--glass.dcColoring--color5{
  --color-dc-primary-dark3: #BF360C;
  --color-dc-primary-dark2: #FF5722;
  --color-dc-primary-dark1: #FF5722;
  --color-dc-primary: #F44336;
  --color-dc-primary-light1: rgba(93, 109, 126, 0.8);
  --color-dc-primary-light2: rgba(133, 146, 158, 0.8);
  --color-dc-primary-light3: rgba(174, 182, 191, 0.8);
  --color-dc-primary-light4: #FDFEFE;
  --color-dc-second-dark: #F57F17;
  --color-dc-second: #F9A825;
  --color-dc-second-light: #FDD835;
  --color-dc-danger-light: #FFEBEE;
  --color-dc-danger: #C62828;
  --color-dc-danger-dark: #ef5350;
  --color-dc-dark-op80: rgba(0, 0, 0, 0.8);
  --color-dc-light-op80: rgba(253, 254, 254, 0.8);
}

.desktopCalendar.dcTheme--glass.dcColoring--color6{
  --color-dc-primary-dark3: #4A148C;
  --color-dc-primary-dark2: rgba(69, 39, 160, 0.9);
  --color-dc-primary-dark1: rgba(63, 81, 181, 0.9);
  --color-dc-primary: #2196F3;
  --color-dc-primary-light1: #64B5F6;
  --color-dc-primary-light2: #90CAF9;
  --color-dc-primary-light3: #E3F2FD;
  --color-dc-primary-light4: #FDFEFE;
  --color-dc-second-dark: #6A1B9A;
  --color-dc-second: rgba(156, 39, 176, 0.9);
  --color-dc-second-light: #BA68C8;
  --color-dc-danger-light: #FFEBEE;
  --color-dc-danger: #C62828;
  --color-dc-danger-dark: #ef5350;
  --color-dc-dark-op80: rgba(0, 0, 0, 0.8);
  --color-dc-light-op80: rgba(253, 254, 254, 0.8);
}

.desktopCalendar.dcTheme--glass.dcColoring--color7{
  --color-dc-primary-dark3: #3F51B5;
  --color-dc-primary-dark2: #3F51B5;
  --color-dc-primary-dark1: #5C6BC0;
  --color-dc-primary: #2196F3;
  --color-dc-primary-light1: #64B5F6;
  --color-dc-primary-light2: #90CAF9;
  --color-dc-primary-light3: #E3F2FD;
  --color-dc-primary-light4: #FDFEFE;
  --color-dc-second-dark: #4527A0;
  --color-dc-second: #455A64;
  --color-dc-second-light: #9FA8DA;
  --color-dc-danger-light: #FFEBEE;
  --color-dc-danger: #C62828;
  --color-dc-danger-dark: #ef5350;
  --color-dc-dark-op80: rgba(0, 0, 0, 0.8);
  --color-dc-light-op80: rgba(253, 254, 254, 0.8);
}

.desktopCalendar.dcTheme--glass.dcColoring--color8{
    --color-dc-primary-dark3: #3E2723;
    --color-dc-primary-dark2: rgba(78, 52, 46, 0.9);
    --color-dc-primary-dark1: rgba(121, 85, 72, 0.9);
    --color-dc-primary: #8D6E63;
    --color-dc-primary-light1: rgba(161, 136, 127, 0.9);
    --color-dc-primary-light2: rgba(188, 170, 164, 0.9);
    --color-dc-primary-light3: #EFEBE9;
    --color-dc-primary-light4: #FDFEFE;
    --color-dc-second-dark: rgb(158, 45, 10);
    --color-dc-second: #FF5722;
    --color-dc-second-light: #FF9800;
    --color-dc-danger-light: #FFEBEE;
    --color-dc-danger: #C62828;
    --color-dc-danger-dark: #ef5350;
    --color-dc-dark-op80: rgba(0, 0, 0, 0.8);
    --color-dc-light-op80: rgba(253, 254, 254, 0.8);
}

.desktopCalendar.dcTheme--glass.dcColoring--color9{
    --color-dc-primary-dark3: #009688;
    --color-dc-primary-dark2: #689F38;
    --color-dc-primary-dark1: #8BC34A;
    --color-dc-primary: #8BC34A;
    --color-dc-primary-light1: #66BB6A;
    --color-dc-primary-light2: #A5D6A7;
    --color-dc-primary-light3: #C8E6C9;
    --color-dc-primary-light4: #FDFEFE;
    --color-dc-second-dark: #2196F3;
    --color-dc-second: #03A9F4;
    --color-dc-second-light: #00BCD4;
    --color-dc-danger-light: #FFEBEE;
    --color-dc-danger: #C62828;
    --color-dc-danger-dark: #ef5350;
    --color-dc-dark-op80: rgba(0, 0, 0, 0.8);
    --color-dc-light-op80: rgba(253, 254, 254, 0.8);
}
.desktopCalendar.dcTheme--glass{}
.desktopCalendar.dcTheme--glass .dc--calendarHeader{position: relative;width: calc( 100% - 60px);float: right;padding: 0 30px;/* text-align: center; */display: inline;color: var(--color-dc-primary-light4); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */background: var(--color-dc-primary-dark3);background: -moz-linear-gradient(-45deg, var(--color-dc-second-dark) 0%,var(--color-dc-second-dark) 50%,var(--color-dc-primary-dark2) 51%,var(--color-dc-primary-dark3) 100%);background: -webkit-linear-gradient(-45deg, var(--color-dc-second-dark) 0%,var(--color-dc-second-dark) 50%,var(--color-dc-primary-dark2) 51%,var(--color-dc-primary-dark3) 100%);background: linear-gradient(135deg, var(--color-dc-second-dark) 0%,var(--color-dc-second-dark) 50%,var(--color-dc-primary-dark2) 51%,var(--color-dc-primary-dark3) 100%);}
.desktopCalendar.dcTheme--glass .dc--calendarHeader:before{content:"";position: absolute;width: 80%;background-color: #fbe9ee;height: 1px;bottom: 0px;left: 10%;}
.desktopCalendar.dcTheme--glass .dc--sidebar{background-color: var(--color-dc-primary-dark2);padding-bottom: 5px;color: var(--color-dc-primary-light4);background: #1e5799;background: -moz-linear-gradient(141deg, rgb(0, 105, 92) 0%, rgba(0, 105, 92, 0.92) 24%, rgb(38, 50, 56) 54%,  rgba(38, 50, 56, 0.85) 100%);background: -webkit-linear-gradient(141deg, rgb(0, 105, 92) 0%, rgba(0, 105, 92, 0.92) 24%, rgb(38, 50, 56) 54%,  rgba(38, 50, 56, 0.85) 100%);background: linear-gradient(141deg, var(--color-dc-second) 0%, var(--color-dc-second) 24%, var(--color-dc-primary-dark3) 54%, var(--color-dc-primary-dark1) 100%);padding-top: 10px;}
.desktopCalendar.dcTheme--glass .dc--calendarHeader .dc-yearInput-label{margin: auto 10px;font-size: 2.5rem;text-shadow: 0px 0px 0px var(--color-dc-dark-op80);}
.desktopCalendar.dcTheme--glass .dc--calendarHeader .dc-yearInput-label:hover{text-shadow: -1px 1px 2px var(--color-dc-dark-op80);}
.desktopCalendar.dcTheme--glass .dc--calendarHeader .dc-monthInput-label{font-size: 1.25rem;margin: 0 10px;text-shadow: 0px 0px 0px var(--color-dc-dark-op80);}
.desktopCalendar.dcTheme--glass .dc--calendarHeader .dc-monthInput-label:hover{text-shadow: -1px 1px 2px var(--color-dc-dark-op80);}
.desktopCalendar.dcTheme--glass .dc--calendarHeader .dc-calendarTitle{margin: 0 10%;text-align: center;display: -webkit-inline-box;font-size: 1.25rem;}
.desktopCalendar.dcTheme--glass .dc--calendarFooter{margin-top: 10px;padding: 10px;width: calc( 100% - 22px );overflow: hidden;border-top: 1px solid var(--color-dc-primary-light3);}
.desktopCalendar.dcTheme--glass .calendarTabel{border-collapse: collapse;}
.desktopCalendar.dcTheme--glass .calendarTabel thead{ border-bottom: 1px solid var(--color-dc-primary-light3);}
.desktopCalendar.dcTheme--glass .calendarTabel th {color: var(--color-dc-primary-light4);background: var(--color-dc-primary-dark3);}
.desktopCalendar.dcTheme--glass .calendarTabel td {}
.desktopCalendar.dcTheme--glass .calendarTabel td:before{position: absolute;content: "";-webkit-transition: all 0.25s;transition: all 0.25s;border: 2px solid transparent;z-index: 300;width: calc( 100% - 2px );height: calc( 100% - 2px );left: -1px;top: -1px;}
.desktopCalendar.dcTheme--glass .calendarTabel td.selected:before{ border: 2px solid #1880c9;}
.desktopCalendar.dcTheme--glass .calendarTabel td.today:after{position: absolute;content: "";z-index: 300;width: 50px;height: 50px;right: -53px;top: calc( 50% - 25px);background-color: #FFC107;transform: rotate(46deg);}
.desktopCalendar.dcTheme--glass .calendarTabel td.holiday>.firstCalendar{width: 98%; left: 1%;}
.desktopCalendar.dcTheme--glass .calendarTabel td.holiday>.firstCalendar.base-form{background-color: var(--color-dc-danger-light);color: var(--color-dc-danger);}
.desktopCalendar.dcTheme--glass .calendarTabel td.holiday>.firstCalendar.second-form{background-color: var(--color-dc-danger);color: var(--color-dc-danger-light);}
.desktopCalendar.dcTheme--glass .calendarTabel td.holiday>.secondCalendar{color: var(--color-dc-danger);}
.desktopCalendar.dcTheme--glass .calendarTabel td.holiday>.thirdCalendar{color: var(--color-dc-danger);}
.desktopCalendar.dcTheme--glass .calendarTabel td.today{ filter: saturate(2);-webkit-filter: saturate(2);}
.desktopCalendar.dcTheme--glass .calendarTabel td>.firstCalendar.base-form{ background-color: var(--color-dc-primary-light4); color: var(--color-dc-primary-dark3);}
.desktopCalendar.dcTheme--glass .calendarTabel td>.firstCalendar.second-form{background-color: var(--color-dc-primary);color: var(--color-dc-primary-light4);}
.desktopCalendar.dcTheme--glass .calendarTabel td:hover>.firstCalendar.base-form{top: -100%;}
.desktopCalendar.dcTheme--glass .calendarTabel td:hover>.firstCalendar.second-form{top: 0px;}
.desktopCalendar.dcTheme--glass .calendarTabel td.holiday:hover>.secondCalendar{color: var(--color-dc-danger-light);}
.desktopCalendar.dcTheme--glass .calendarTabel td.holiday:hover>.thirdCalendar{color: var(--color-dc-danger-light);}
.desktopCalendar.dcTheme--glass .calendarTabel td:hover>.secondCalendar{color: var(--color-dc-primary-light4);}
.desktopCalendar.dcTheme--glass .calendarTabel td:hover>.thirdCalendar{color: var(--color-dc-primary-light4);}
.desktopCalendar.dcTheme--glass .dc--Modal .dc--close{background-color: transparent;color: var(--color-dc-primary-light4);}
.desktopCalendar.dcTheme--glass .dc--Modal .dc--ModalBody{background-color: rgba(0, 0, 0, 0.8);}
.desktopCalendar.dcTheme--glass .month-item , .desktopCalendar.dcTheme--glass .year-item{background-color: var(--color-dc-primary-light1);color: var(--color-dc-primary-light4);border: none;width: calc( 100% / 3 );}
.desktopCalendar.dcTheme--glass .year-item.this-year{background-color: var(--color-dc-primary-light2);color: var(--color-dc-primary-light4);}
.desktopCalendar.dcTheme--glass .month-item:hover , .desktopCalendar.dcTheme--glass .year-item:hover{background-color: var(--color-dc-primary);}
.desktopCalendar.dcTheme--glass .dc--toggleSidebar{font-size: 1.5rem;line-height: 40px;background-color: var(--color-dc-primary);color: var(--color-dc-primary-light4);}
.desktopCalendar.dcTheme--glass .dc--nextPageYear{ background-color: var(--color-dc-primary); color: var(--color-dc-primary-light4);}
.desktopCalendar.dcTheme--glass .dc--previwPageYear{background-color: var(--color-dc-primary);color: var(--color-dc-primary-light4);}
.desktopCalendar.dcTheme--glass .dc--sidebar>div{width: 100%;float: right;padding: 0;margin: 0;height: auto;min-height: 0px !important;white-space: nowrap;overflow: visible !important;text-overflow: ellipsis;}
.desktopCalendar.dcTheme--glass .dc--sidebarBaseCalDayNum{line-height: 70px;margin: 28px calc(50% - 35px) !important;width: 70px !important;background-color: var(--color-dc-second-dark);color: #ffffff;border-radius: 0 20px; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */font-size: 2rem;box-shadow: 0 0 1px var(--color-dc-primary-dark2), inset 0 0 15px 0px var(--color-dc-dark-op80);}
.desktopCalendar.dcTheme--glass .dc--sidebarBaseCalDayTitle{text-align: center;line-height: 37px;font-size: 1.1rem;width: 100px !important;margin: 5px calc( 50% - 50px ) !important;background-color: var(--color-dc-primary-light4);color: var(--color-dc-primary-dark3);border-radius: 6px;margin-bottom: 43px !important;}
.desktopCalendar.dcTheme--glass .calendarInfo-title{text-align: center;padding: 0;margin: 0;background-color: transparent;/* height: 35px; */white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;float: right;line-height: 37px;position: relative;}
.desktopCalendar.dcTheme--glass .calendarInfo-title>.calendarInfo-year{font-size: 1.45rem;margin: auto 8px;font-weight: bolder;border-bottom: 1px solid;}
.desktopCalendar.dcTheme--glass .calendarInfo-title>.calendarInfo-month{font-weight: 300;font-size: 0.9rem;background-color: rgba(217, 232, 230, 0.2);border: 1px solid rgba(224, 242, 241, 0.6);padding: 2px 5px;border-radius: 2px;background: -moz-linear-gradient(-45deg, rgba(224, 242, 241, 0.1) 0%,rgba(224, 242, 241, 0.6) 50%,rgba(224, 242, 241, 0.1) 100%); background: -webkit-linear-gradient(-45deg, rgba(224, 242, 241, 0.1) 0%,rgba(224, 242, 241, 0.6) 50%,rgba(224, 242, 241, 0.1) 100%);background: linear-gradient(135deg, rgba(224, 242, 241, 0.1) 0%,rgba(224, 242, 241, 0.6) 50%,rgba(224, 242, 241, 0.1) 100%);}
.desktopCalendar.dcTheme--glass .dc--sidebarBaseCalDay{margin: 14px 5px !important;font-size: 0.95rem;padding: 0px !important;position: relative;display: -webkit-box;line-height: 40px;background-color: var(--color-dc-primary-dark1);color: var(--color-dc-primary-light4);width: calc( 100% - 10px ) !important;overflow: hidden !important;border-radius: 35px;}
.desktopCalendar.dcTheme--glass .dc--sidebarBaseCalDay>.calendarTitle{width: auto;background-color: var(--color-dc-second-dark); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */box-shadow: 0px 2px 2px var(--color-dc-primary-dark1);text-align: center;border-radius: 50px;display: block;padding: 0 15px;margin: 0;position: absolute;top: -25px;right: 0;}
.desktopCalendar.dcTheme--glass[lang-dir="ltr"] .dc--sidebarBaseCalDay>.calendarTitle{left: 0;right: auto;}
.desktopCalendar.dcTheme--glass .dc--sidebarBaseCalDay>.calendarDate{width: 100%;padding: 7px 0 0 0;margin: 0px 0;text-align: center;display: block;position: relative;}
.desktopCalendar.dcTheme--glass .calendarEventList{height: 80px;overflow-y: auto;list-style: none;direction: rtl;display: list-item;padding: 0;text-align: justify;position: relative;width: 100%;}
.desktopCalendar.dcTheme--glass .calendarEventList>li{position: relative;color: var(--color-dc-primary-light1);padding: 0 5px;margin: 0 5px;display: inline-flex;text-align: center;}
.desktopCalendar.dcTheme--glass .calendarEventList>li:not(:first-child):before{position: absolute;content: "-";right: -10px;width: 5px;text-align: center;top: auto;}
.desktopCalendar.dcTheme--glass[lang-dir="ltr"] .calendarEventList>li:not(:first-child):before{left: -10px;}
.desktopCalendar.dcTheme--glass[lang-dir="ltr"] .calendarEventList{direction: ltr;}
.desktopCalendar.dcTheme--glass .calendarEventList>li.holiday{color: var(--color-dc-danger-dark);height: auto;}

@media screen and (max-width: 600px) {
  .desktopCalendar.dcTheme--glass .dc--toggleSidebar{font-size: 1rem; line-height: 30px;}
}
